* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 5em;
  background-color: #df622b;
  padding: 60px;
  cursor: pointer;
}

span {
  letter-spacing: -20px;
  color: #063055;
}

h1:hover span {
  display: inline-block;
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
